.dcir__page {
  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  grid-gap: 64px;
  gap: 64px;
  text-align: center;

  .dcir__page-landing {
    display: flex;
    flex-direction: column;
    gap: 32px;
    grid-row-start: 2;
  }

  .dcir__page-logo {
    margin: 0 auto;
    color: transparent;
    filter: #{'invert(100%)'};
  }

  .dcir__page-title {
    margin-top: 1rem !important;
  }

  .dcir__page-subtitle {
    display: block;
  }

  .dcir__page-description {
    margin: 0 auto;
    text-align: center;
  }

  .dcir__page-cta {
    margin-top: 32px;

    .qld__btn {
      margin-left: 1rem;
    }
  }

  @media (prefers-color-scheme: dark) {
    .dcir__page-logo {
      filter: none;
    }
  }
}

main {
  &.dcir {
    min-height: 40vh;
  }
}

.qld__body {
  &.dcir {
    background-color: var(--QLD-color-light__background);
    padding-top: 0;
    padding-bottom: 0;
  }

  /* Bottom-align all form groups within QGDS rows */
  .row.qld__row-gap--components {
    align-items: flex-end;
  }

  @media (min-width: 699px) {
    #content[class^=col-] form {
      margin-top: 0;
    }
  }
}

.qld__grid .qld__global_alert > .container-fluid,
.qld__grid .qld__header > div > .container-fluid,
.qld__grid .qld__main-nav > .container-fluid,
.qld__grid main > section > .container-fluid,
.qld__grid main > div > .container-fluid,
.qld__grid main > div > div > .container-fluid,
.qld__grid main > div > section > .container-fluid,
.qld__grid .qld__footer > .container-fluid {
  &.dcir {
    padding-left: 0;
    padding-right: 0;
  }
}

.qld__side-nav__content {
  &.dcir {
    background-color: none;
    padding-left: 0;

    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: none;

    .qld__sidenav__link {
      svg {
        margin-right: 8px;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .qld__header .qld__header__pre-header.qld__header__pre-header--dark-alt {
    &.dcir {
      background-color: var(--QLD-color-light__background);
    }
  }
}

.container-fluid {
  &.dcir__main {
    text-align: center;
  }
}

.dcir {
  &__sidebar {
    padding-right: 0 !important;

    min-height: 50vh;
    background-color: var(--QLD-color-light__background--shade);
    padding-left: 0;

    border-top: none;
    border-right: var(--QLD-border-width-thin) solid var(--QLD-color-light__border);
    border-bottom: none;
    border-left: none;
  }

  &__content {
    margin-top: 2rem !important;
    padding-left: 0 !important;
    padding-bottom: 4rem !important;
  }

  &__page-header {
    border-bottom: var(--QLD-border-width-default) solid var(--QLD-color-light__border);

    margin-bottom: 1rem;

    padding-top: 2rem;
    padding-right: 1rem;
    padding-bottom: 3rem;
    padding-left: 1rem;
  }

  &__page-content {
    padding-top: 2rem;
    padding-right: 1rem;
    padding-bottom: 3rem;
    padding-left: 1rem;
  }

  &__page-header--title {
    display: block;
  }

  &__page-header--subtitle {
    color: var(--QLD-color-light__text) !important;
    font-weight: 300 !important;

    b {
      font-weight: 500 !important;
    }
  }

  &__page-header--description {
    display: block;
  }

  &__tabs {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  &__form-row {
    margin-top: 0;
    margin-bottom: 0;
  }

  &__cta--container {
    margin-top: 2rem;

    .qld__btn {
      margin-top: 0;
      margin-right: 1rem;
    }
  }

  &__dcr-record-submitted {
    h5 {
      margin-top: 2rem;
    }
  }

  &__page-provider-list {
    margin: 0 auto;
    width: fit-content;
  }

  &__page-back-end-validations {
    margin: 0 0 0 2rem;
    width: fit-content;
  }

  .svg-inline--fa {
    margin-right: 0.5rem;
  }

  .qld__form-file {
    &.qld__form-file--error {
      color: var(--QLD-color-status__error);

      p,
      span {
        color: var(--QLD-color-status__error);
      }

      svg {
        color: var(--QLD-color-status__error) !important;
      }
    }

    .qld__form-file-delete-btn {
      svg {
        margin-right: 0.5rem;
      }
    }
  }

  .qld__cta-group {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  &__submit-disabled-message {
    p {
        max-width: fit-content;
    }
  }
}
